body{
    font-family: 'Unbounded', cursive;/*tipo de fuente importada desde google fonts*/
}
/*Estilos para productos*/
header{
    color: grey;
    text-align: center;
    background-image: url("../imagenes/imagenes/background.jpeg");
    background-size: cover;
    padding: 10px;
}
main{
    margin: 0 auto;
    /*background: linear-gradient(rgb(255, 255, 255), black);/*Tmbn se puede poner gradiente en angulo, poniendo al inicio 45deg, por ejemplo
    O incluso el porcentaje que se requiere de un color, como white 50%*/
}
/*
.menu{
    width: 940px;Ancho
    position: relative;Para poder poner la propia posicion con respecto a lo que cambiemos
}
nav{
    position: absolute;Para poder mover los elementos en la p치gina
    right: 0;Distancia de la derecha
    top: 10%;Distancia de arriba
}*/
nav li{
    display: inline-block;/*Para poner el texto en linea*/
    width: 20%;
    /*margin: 0 10%;/*espaciado arriba, derecha, abajo, izquierda (con 2 es arriba y abajo, izquierdo y derecho)*/
    box-sizing: border-box;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    /*text-decoration: overline underline;*/
    text-decoration: none;
}
nav a:hover{/*Propiedad para capturar eventos*/
    color:black;
    background-color: white;
    border-radius: 5px;
}
.opciones ul{
    /*width: 940px;*/
    margin: 0 auto;/*arriba y abajo en 0, izquierda y derecha en auto*/
    padding: 50px;
}
.opciones li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;/*Para poner los espacios extras sin conflictos*/
    border: 2px solid white;/*width, style, color*/
    background-color: black;
    border-radius: 10px 30px 10px 30px;/*en sentido de las manecillas*/
}
.opciones li:hover{
    border-color: red;
    background-color: white;
    border-width: 3px;
}
.opciones li:active{
    border-color: aquamarine;
}
.opciones h2{
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.opciones li:hover h2{
    /*font-size: 33px;*/
    color: black;
}
.descripcion{
    color: white;
    font-size: 18px;
}
.opciones li:hover .descripcion{
    color: black;
}
.precio{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
.opciones li:hover .precio{
    color: black;
}
.cortes{
    filter: invert();
    width: 50%;
}
.opciones li:hover .cortes{
    filter: none;
}
footer{
    text-align: center;
    /*background-image: url("../imagenes/imagenes/bg.jpg");*/
    background: url(../imagenes/imagenes/bg.jpg);
    padding: 30px;
}
/*
footer > p{
    Aqu칤 se elige el p치rrafo que sea hijo directo de footer, sin afectar nietos y etc.
}
img + p{
    Selecciona y aplica estilos solo al p치rrafo que est칠 despu칠s de img
}
img ~ p{
    Selecciona y aplica estilos a todos los p치rrafos despu칠s de img
}
footer p:not(#mision){
    Se aplican los estilos a todos los p치rrafos, menos al que tiene id=mision
}
*/
.copy{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}



/*Estilos para contacto*/
form{
    margin: 40px;
}
form label{
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 10px 30%;
    font-weight: bold;
}
form .input_info, form textarea{
    display: block;
    margin: 15px auto;
    padding: 10px 10px;
    width: 50%;
}
form legend{
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}
#chk{/*El id es el primero en la jerarquia, la clase despues y al final la etiqueta, si se combinan etiquetas suman su peso (como form p)
    Pero m치s jerarqu칤a tiene a칰n el poner "style" en html*/
    margin: 20px 0;
}
.horarios_sel, #send{
    display: block;
    text-align: center;
    margin: 15px auto;
    padding: 10px 10px;
    width: 20%;
    border-width: 2px;
    border-radius: 30px;
    border: none;
    background-color:teal;
    color: white;
    font-weight: bold;
    transition: 0.2s all;/*Para hacer una transici칩n animada con tiempo background es solo el fondo*/
    cursor: pointer;/*Para poner la manita al apuntar*/
}
.horarios_sel:hover, #send:hover{
    background-color:rgb(13, 75, 75);
    transform: scale(1.1);/* rotate(5deg); para aplicarle tambien rotacion*/
}
.horarios_sel option{
    background-color: white;
    color: black;
}
table{
    margin: 40px auto;
    width: 80%;
}
thead{
    background-color: black;
    font-weight: bold;
    font-size: 20px;
}
td, th{
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 10px;
}
td{
    background-color: gray;
}

/*Estilos de home*/

.banner, .ubi iframe{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}
.principal, .ubi{
    padding: 0 30px;
}
.sobre, #dif, .ubi h3, .vidio h1{
    -webkit-text-stroke: 1px black;
    /*color: brown;*/
    color: rgba(201, 128, 45, 0.2); /*rgba sirve para aplicar opacidad al color, en este caso opacidad de 0.2*/
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    clear: left;
    text-shadow: 1px 1px 5px brown;
}
.sobre:first-letter, #dif:first-letter, .ubi h3:first-letter, .vidio h1:first-letter{
    font-size: 40px;
}
/*p:first-line{
    Para poner un estilo solo a la primera linea de un p치rrafo
}
.sobre:before{
    content: { /*Para abrir llave al inicio del titulo
}
.sobre:after{
    content: } /*Para cerrar llave al final del titulo
}
*/
.utensilios{
    width: 130px;
    float: left;/*Para que quede la imagen como si flotara encima de la p치gina*/
    margin: 0 20px 20px 20px;
}
.principal p{
    font-size: 1.2em;/*"em" es */
    text-align: justify;
    margin: 0 1em 1em 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.ubi p{
    font-size: 1.2em;/*"em" es */
    text-align: center;
    margin: 0 1em 0 1em;
}
.diferenciales{
    padding: 0 30px;
    margin: 1em;
}
.cont-dif{
    width: 800px;
    margin: 0 auto;
}
.lista-dif{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.lista-dif li{
    /*line-height: 1.5;/*Para cambiar la altura de las l칤neas*/
    margin: 0 0 1em 0;
}
.lista-dif li:first-child{/*para modificar solo el primer elemento de la lista*/
   font-weight: bold;
}
.lista-dif li:before{
    content: "游";
}
/*.lista-dif li:nth-child(2n){
    Para elegir un elemento especifico de la lista, en este caso los pares
}*/
.cont-dif img{
    width: 40%;
    box-shadow: 2px 2px 10px 2px black, -2px -2px 10px 2px brown; /*izquierda o derecha, arriba o abajo, difuminaci칩n, expansi칩n de la sombra*/
    /*box-shadow: inset 0 0 5px black /* Para poner una sombra desde adentro*/
    margin: 0 80px;
}
.cont-dif img:hover{
    opacity: 0.3;
    transition: 300ms;
}
.vidio{
    width: 560px;
    /*width: calc(40% - 25px) /*Para hacer los c치lculos que se le van a aplicar al ancho para que se adapte mejor*/
    margin: 1em auto;
}
.vidio iframe{
    border: 1px solid;
    border-radius: 10px;
    margin: 0 55px;
}

@media screen and (max-width:480px){/*media query para adaptar ciertos valores a una pantalla con un ancho m치ximo de 480px*/
    nav a{
        font-size: 8px;
    }
    .vidio, .cont-dif{
        width: auto;
    }
    .lista-dif{
        width: 100%;
    }
    .lista-dif li{
        text-align: center;
    }
    .cont-dif img{
        margin-left: 100px;
    }
    .vidio iframe{
        margin: 1em 40px;
    }
}